#update__main{
    display: flex;
    justify-content: center;
}
.update__container{
    width: 90%;
    margin-top: 8.3rem;
}

.update__form{
    width: 100%;
}

.inputs--update{
    background-color: var(--color-mint);
    color: var(--color-white);
}

.btns--updateMember{
    margin: 2rem 0 1.2rem 0;
}

@media screen and (max-width: 768px) {
    .update__container {
        margin-top: 2.3rem;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        min-width: 350px;
        width: 50%;
    }


}
