<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="ko">
<footer id="contact" th:fragment="footer">
    <h2 class="footer__title">Unique Vintage Shop</h2>
    <ul class="contact__links">
        <li>
            <a
                    class="contact__link"
                    href="https://github.com/HyonHyonKOR"
                    target="_blank"
                    title="my github link"
            >
                <i class="fa-brands fa-github"></i>
            </a>
        </li>
        <li>
            <a
                    class="contact__link"
                    href="https://github.com/HyonHyonKOR"
                    target="_blank"
                    title="my linkedin link"
            >
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </li>
    </ul>
    <div class="divider divider--white"></div>
    <div class="divider divider--mint"></div>
    <p class="footer__copyright">
        Copyright © HyonHyonKOR. All Rights Reserved.
    </p>
</footer>