<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <!--웹 호환성 및 반응형 웹 -->
    <title>INPP - 로그인 페이지</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--SEO-->
    <meta name="description" content="" />
    <meta name="author" content="hyonhyon" />
    <meta
      name="keywords"
      content="male e-commerce,shopping,male,unique,남자 쇼핑몰,대학생 쇼핑몰"
    />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!--OG (Open Graph Data)-->
    <meta property="og:title" content="HyonHyon" />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="배포후 생성된 URL" />
    <meta property="og:image" content="배포후에 생성된 이미지 URL" />
    <!--Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;600&family=Sometype+Mono&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/459e14b80c.js"
      crossorigin="anonymous"
    ></script>
    <!--css-->
    <link rel="stylesheet" href="/css/style.css?ver=1" />
    <!--javascript-->
    <script src="/js/loginForm.js" defer></script>
  </head>
  <body id="login__body">
    <header>
      <div class="header__logo">
        <a href="/"
          ><img
            class="header__logo__img"
            src="/images/favicon.png"
            alt="shopping mall logo"
        /></a>
      </div>
      <div class="divider divider--white"></div>
      <div class="divider divider--mint"></div>
    </header>
    <main id="login__main">
      <section class="forms__container login__container">
        <div class="login__header">
          <h1 class="login__smile">
            <i class="fa-solid fa-face-smile"></i>
          </h1>
          <h1>Welcome Back!</h1>
          <div class="error__message__container" th:object="${loginForm}">
            <div class="error__message field-error" th:if="${#fields.hasGlobalErrors()}" th:each="err: ${#fields.globalErrors()}"  th:text="${err}"></div>
          </div>
        </div>
        <form id="login" th:action method="post" class="login__form" th:object="${loginForm}">
          <label for="login__id" class="labels">
            <h3 class="label__title label--login">아이디</h3>
            <input
              name="memberId"
              id="login__id"
              type="text"
              class="inputs inputs--login"
              autocomplete="off"
            />
          </label>
          <div class="error__message__container">
            <div class="error__message field-error" th:errors="*{memberId}" ></div>
          </div>
          <label for="login__pw" class="labels">
            <h3 class="label__title label--login">비밀번호</h3>
            <input
              name="memberPw"
              id="login__pw"
              type="password"
              class="inputs inputs--login"
              autocomplete="off"
            />
          </label>
          <div class="error__message__container">
            <div class="error__message field-error" th:errors="*{memberPw}" ></div>
          </div>
        </form>
        <div class="login__buttons">
          <button type="submit" class="btns btns--login" form="login">
            로그인
          </button>
          <button
            type="button"
            class="btns btns--signin"
            onclick="location.href='/members/add'"
          >
            회원가입
          </button>
        </div>
      </section>
    </main>
    <footer id="contact">
      <div class="divider divider--white"></div>
      <div class="divider divider--mint"></div>
      <p class="footer__copyright">
        Copyright © HyonHyonKOR. All Rights Reserved.
      </p>
    </footer>
  </body>
</html>
