header {
  width: 100%;
  position: fixed;
  font-family: 'Sometype Mono', monospace;
}
.header__logo {
  text-align: center;
}
.header__logo__img {
  width: 96px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  font-size: 1rem;
}
.header__menus__insta {
  padding-left: 0;
}
.header__menus__main {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding-inline-start: 80px;
}
.header__menus__user {
  display: flex;
  gap: 1.5rem;
}
.divider.divider--white {
  background-color: var(--color-white);
}
.divider.divider--mint {
  background-color: var(--color-mint);
}
.header__menu__insta:hover,
.header__menu__main:hover,
.header__menu__user:hover {
  transition: all 200ms ease-in;
}

.header__menu__insta:hover,
.header__menu__main:hover,
.header__menu__user:hover {
  color: var(--color-mint);
}
.header__toggle {
  display: none;
}

.loginhome__menus__main{
  padding-left: 10.2rem;
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
  }
  .header__nav {
    padding: 0;
  }
  .header__logo__img {
    width: 48px;
  }
  .header__menus__insta {
    position: absolute;
    top: 1rem;
    right: 6rem;
    z-index: 1;
  }

  .header__menus__insta.loginhome__menus__insta{
    right: 10.2rem;
  }
  .header__menus__user {
    position: absolute;
    gap: 1rem;
    top: 1rem;
    right: 2rem;
  }
  .header__toggle {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.2rem;
    color: var(--color-white);
    background-color: transparent;
    outline: 0;
    border: 0;
  }
  .header__menus__main {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
  }
  .header__menus__main.open {
    display: flex;
  }
  .header__toggle:hover {
    color: var(--color-mint);
  }


}
